{% extends "base.html" %}
{% block title %} Student Management {% endblock %}

{% block content %}
  

<!-- Dropdown form for selecting the class -->
<form method="GET" action="{{ url_for('students.index') }}" class="class-select-form">
    <label for="class">Select Class:</label>
    <select name="class" onchange="this.form.submit()">
        <option value="">All</option> 
        {% for i in range(1, 6) %}
            <option value="{{ i }}" {% if class_name == i|string %}selected{% endif %}>Std {{ i }}</option>
        {% endfor %}
    </select>
</form>

<form method="GET" action="" class="export-form">
    <label for="export">Export Data As:</label>
    <select name="export" onchange="window.location.href=this.value;">
        <option value="">Select Format</option>
        <option value="{{ url_for('students.export_json') }}" {% if request.args.get('export') == 'json' %}selected{% endif %}>JSON</option>
        <option value="{{ url_for('students.export_spreadsheet') }}" {% if request.args.get('export') == 'spreadsheet' %}selected{% endif %}>Spreadsheet (CSV)</option>
        <option value="{{ url_for('students.export_pdf') }}" {% if request.args.get('export') == 'pdf' %}selected{% endif %}>PDF</option>
    </select>
</form>


{% if current_user.is_authenticated %}
    {% if current_user.is_admin() or current_user.is_teacher() %}
    <button onclick="window.location.href='{{ url_for('students.create') }}'">Add Student</button>
    {% else %}
    <p>You do not have permission to add students.</p>
    {% endif %}


    <!-- Table to display student details -->
    <table class="students-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Class</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.class_name }}</td>
                <td>
                    {% if current_user.is_admin() %}
                        <!-- Admin actions: Edit, Delete, View Details -->
                        <a href="{{ url_for('students.update_student', s_id=student.s_id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('students.delete_student', s_id=student.s_id) }}" class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('students.view_student', s_id=student.s_id) }}" class="btn btn-success">Details</a>
                    {% endif %}
                    {% if current_user.is_teacher() %}
                        <!-- teacher actions: View Details -->
                        <a href="{{ url_for('students.view_student', s_id=student.s_id) }}" class="btn btn-success">Details</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Chart link -->
    <a href="{{ url_for('students.students_count') }}" class="add-btn">CHART</a>

    <div style="width: 50%; margin: auto;">
        <!-- Insert the Plotly chart here -->
        {{ chart_html | safe }}
    </div>
{% endif %}







{% endblock %}
